<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    {% include 'navbar.twig' %}
    <div class="container">
    <h1>Administratorvalg</h1>

        <!-- if error occurred -> show message -->
        {% if wantsMessage != '' %}
        <h2>{{wantsMessage}}</h2>
        {% endif %}

        <!-- for each want, show -->
        {% for request in wantsPrivilege %}

        <b>{{request.user.username}}</b> vil bli
        
        {% if request.wouldLike == 1 %}
        lærer 
        {% elseif request.wouldLike == 2 %}
        admin 
        {% endif %}
        
        
        <form method="post" action="src/privilegeRequestHandler.php">
            <input type="hidden" name="uid" value="{{request.user.uid}}"/>
            <input type="hidden" name="privilege_level" value="{{request.wouldLike}}"/>
            <input type="submit" value="Tillat" />
        </form>
        
        <br>

        {% endfor %}
    </div>
</body>
</html>
