<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    {% include 'navbar.twig' %}
    <div class='container'>
        {% if message != "" %}
            <class class="alert alert-{{messageStatus}}">{{message}}</class>
        {% endif %}
        <h1>Lag spilleliste</h1>
        <form action="./src/createPlaylistHandler.php" method="post" enctype="multipart/form-data">
            <label for="title">title: </label><input name="title" type="text"/><br/>
            <label for="description">description: </label><input name="description" type="text"/><br/>
            <label for="thumbnail">thumbnail: </label><input type="file" name="thumbnail"><br />
            <input type="submit" name='submit'/>
        </form>
    </div>
</body>
</html>
