<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <ul>
        <li><a href="./admin">Admin page</a></li>
        <li><a href="./videos">Videos page</a></li>
        <li><a href="./">Index page</a></li>
        <li><a href="./logout">Logout</a></li>
    </ul>
    <h1>{{ message }}</h1>
</body>
</html>
