<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <a href="./register">Register here</a>
    <h1>Login page</h1>
    <form action="src/loginFormHandler.php" method="post">
        <label for="username">username: </label><input name="username" type="text"/><br/>
        <label for="password">password: </label><input name="password" type="password"/><br/>
        <input name="submit" type="submit"/>
    </form>
</body>
</html>
