<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Login page</h1>
    <form action="src/loginFormHandler.php" method="post">
        <input name="username" type="text"/>
        <input name="password" type="password"/>
        <input type="submit" value="Login!">
    </form>
</body>
</html>
