<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    {% include 'navbar.twig' %}
    <div class="container">
        {% if message != "" %}
        <p style="border:1px solid black">{{message}}</p>
        {% endif %}
        <h1>404 - Page not found</h1>
        <p>Vi kunne ikke finne siden du søkte etter, hvis du fulgte en link fra våre sider vennligst ta kontakt.</p>
    </div>
</body>
</html>
