<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        {% include 'navbar.twig' %}
        <div class="container">
            <h1>Playlist page</h1>
            <h2>Title: {{playlist.title}}</h2> 

            <h3>Maintainers: </h3>
            <ul>
                {% for maintainer in playlist.maintainers %}
                <li>{{maintainer.firstname}}</li>
                {% endfor %}
            </ul>


            <h3>Videos:</h3>
            <ul>
                {% for video in playlist.videos %}
                <li>{{video.title}}</li>
                {% endfor  %}
            </ul>
        </div>
    </body>
</html>
