<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    {% include 'navbar.twig' %}
    <div class="container">
        <h1>Playlist page</h1>
        <h2>{{playlist.name}}</h2> 

        <h3>Maintainers: </h3>
        <h3></h3>
        <h3></h3>

        {% for video in playlist %}

        <p>{{video.title}}</p>

        {% endfor  %}
    </div>
</body>
</html>
