<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <a href="./login">Login here</a>
    <h1>Register page</h1>
    <form action="src/registerFormHandler.php" method="post">
        <label for="username">username: </label><input name="username" type="text"/><br/>
        <label for="firstname">firstname: </label><input name="firstname" type="text"/><br/>
        <label for="lastname">lastname: </label><input name="lastname" type="text"/><br/>
        <label for="password">password: </label><input name="password" type="password"/><br/>
        <label for="privilege_level">privilege_level: </label><input name="privilege_level" type="text"/><br/>
        <input type="submit" value="Register!">
    </form>
</body>
</html>
