<html><head></head><body>
<video width="320" height="240" controls>
    <source src="{{video.url}}" type="{{video.mime}}">
    Din nettleser støtter ikke video-taggen i html5, oppdater nettleseren.
  </video>
  </body>
  </html>