<!DOCTYPE html>
<html>
    <head>
    <title>Video</title>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body style='text-align: center;'>
    {% if message != "" %}
    <p style="border:1px solid black">{{message}}</p>
    {% endif %}
        <div class="container">
            <form action='src/videoFormHandler.php' method='post'>
                <label for="id">Video id</label> <input type='number' name='id'></input><input type='submit' name='submit' value='Se video'></input>
            </form>
        </div>
    </body>
</html>
