<html><head></head><body>
    {% if message != "" %}
    <p style="border:1px solid black">{{message}}</p>
    {% endif %}
<video width="768" height="432" controls>
    <source src="../{{video.url}}" type="{{video.mime}}">
    Din nettleser støtter ikke video-taggen i html5, oppdater nettleseren.
  </video>
  </body>
  </html>
